<link href="/assets/mailing.css" rel="stylesheet" data-inline>
<table class="car-collection">
    <% cars.forEach(function(car) { %>
        <tr class="car">
            <td class="image">
                <a href="<%= car.link %>">
                    <div class="car-image" style="background-image: url('<%= car.image %>')"></div>
                </a>
            </td>
            <td class="desc">
                <div class="car-title">
                    <a href="<%= car.link %>"><%= car.title %></a>
                </div>
                <div class="car-desc">
                    <%= car.desc %>
                </div>
                <div class="car-price">
                    <%= car.price %>
                </div>
            </td>
        </tr>
    <% }); %>
</table>